
.wrapper {
    margin-top: 10px;
    padding-bottom: 10px;
}

.site-nav {
    float: none;
}

#search-form {
    display: block;
    float: right;
}

#home-link {
    margin-right: 15px;
}

#logo-handler {
    float: left;
    margin-right: 20px;
}

hr {
    margin-bottom: 12px;
}

pre, code {
    font-size: inherit;
    border: none;
    border-radius: inherit;
    background-color: inherit;
}

.highlighter-rouge .highlight {
    background: inherit;
}
