
.comment-form {

}

#comment-form-author {
    width: 250px;
}

.block {
    display: block;
}

.comment-form-label {
    margin: 0 0 -5px 0;
}

#comment-form-send {
    cursor: pointer;
    width: 100px;
    height: 45px;
}

#comment-form-comment {
    width: 100%;
    height: 150px;
}

#comments-block {
    margin: 0;
    padding: 0;
}

.comment-block {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0 20px 0;
}

.comment-lead {
    margin-bottom: 0px;
}

.search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

.flex-huge {
    flex-grow: 10;
}

.flex-container-vert {
    display: flex;
    flex-direction: column;
}

.menu-item {
    text-decoration: none;
    font-size: 14pt;
    margin-right: 25px;
}

.menu-item:hover {
    text-decoration: underline;
}

.minor {
    color: black;
    font-size: 12pt;
    margin-right: 20px;
}

.minor:visited {
    color: inherit;
}

.wrapper {
    margin-top: 10px;
    padding-bottom: 10px;
}

.site-nav {
    float: none;
}

#search-form {
    display: block;
    float: right;
}

#home-link {
    margin-right: 15px;
}

#logo-handler {
    float: left;
    margin-right: 20px;
}

hr {
    margin-bottom: 12px;
}

pre, code {
    font-size: inherit;
    border: none;
    border-radius: inherit;
    background-color: inherit;
}

.highlighter-rouge .highlight {
    background: inherit;
}

/* bookshelf */

.book-list {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.book-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
}

.book-text {}

.book-thumb {
    width: 150px;
    min-width: 150px;
    height: auto;
    margin: 0 15px 5px 0;
}

@media only screen and (max-width: 450px) {

    .book-item {
        flex-wrap: wrap;
    }

}

.question {
    font-weight: bold;
}

.tag-title {
    margin-top: 20px;
    margin-bottom: 0px;
}

.code_chart {
    line-height: 90%;
}

.hl {
    background-color: yellow;
}


.draft-warn {
    padding: 10px;
    background-color: lightcoral;
    color: white;
    border: 2px solid chocolate;
}

.draft-warn a {
    color: white;
}


@font-face {
  font-family: Menlo;
  src: url(/assets/static/fonts/Menlo-Regular.ttf);
}


.asciichart code{
    font-family: Menlo;
    font-size: 15pt;
    line-height: normal;
    letter-spacing: normal;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
