---
layout: default
---

<div class="home">

    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="entry">{{ post.content }}</div>
        </li>
        {% endfor %}
    </ul>

    <h4>
        {% if paginator.previous_page %}
        <a href="{% if paginator.previous_page == 1%}/{% else %}/page{{ paginator.previous_page }}{% endif %}" class="previous">&larr;</a>
        {% endif %}
        <span class="page_number ">Страница {{ paginator.page }} из {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="next">&rarr;</a>
        {% endif %}
    </h4>

    </div>
</div>
