
{% assign comments = site.comments | where:'post', include.permalink %}

{% if comments.size == 0 %}

<center>Комментариев пока нет</center>

{% else %}

<center>Комментарии</center>

<div id="comments-block">
  {% for comment in comments %}
    <div class="comment-block">
      <p class="comment-lead">
        <small>
          <em>{{ comment.author_fullname or comment.author_nickname }}, {{ comment.date | date_to_string: "ordinal", "RU" }}</em>
        </small>
      </p>
      <div>{{ comment.content | markdownify }}</div>
    </div>
  {% endfor %}
</div>

{% endif %}
