
{% assign post = include.post %}
{% assign comments = site.comments | where:'post', post.permalink %}

<center>
    {% if comments.size == 0 %}
    Комментариев пока нет
    {% else %}
    Комментарии
    {% endif %}
    {% if post.telegram_id %}
    &emsp;<a href="https://t.me/igrishaev_blog/{{ post.telegram_id }}">Обсудить в Телеграме</a>
    {% endif %}
</center>

{% if comments.size > 0 %}

<div id="comments">
  {% for comment in comments %}
    <div id="comment-{{ comment.comment_id }}" class="comment-block">
      <p class="comment-lead">
        <small>
          <em>
            {{ comment.author_fullname or comment.author_nickname or "Anonymous" }},
            {{ comment.date | date_to_string: "ordinal", "RU" }},
            <a href="#comment-{{ comment.comment_id }}">link</a>
            {% if comment.parent_id %}, <a href="#comment-{{ comment.parent_id }}">parent</a>{% endif %}
          </em>
        </small>
      </p>
      <div>{{ comment.content | markdownify }}</div>
    </div>
  {% endfor %}
</div>

{% endif %}

{% assign val1 = '1 2 3 4 5 6 7 8 9' | split: ' ' | sample %}
{% assign val2 = '1 2 3 4 5 6 7 8 9' | split: ' ' | sample %}
{% assign op   = '&#215;'            | split: ' ' | sample %}

{% assign captcha = val1 | append: " " | append: op | append: " " | append: val2 %}

<form id="comment-form" method="POST" action="{{ site.comment_path }}">

    <div class="block">
        <p class="comment-form-label"><small>Your name</small></p>
        <input required id="comment-form-author" name="author" type="text">
    </div>

    <div class="block">
        <p class="comment-form-label"><small>Comment (markdown syntax)</small></p>
        <textarea required id="comment-form-comment" name="comment"></textarea>
    </div>

    <input required name="path" type="hidden" value="{{ post.permalink }}">
    <input required name="captcha" type="hidden" value="{{ captcha }}">

    <div class="block">
        <span class="comment-form-label"><small>{{ captcha }} = </small></span>
        <input required id="comment-form-solution" name="solution" type="text">
    </div>

    <div class="block">
        <button id="comment-form-send" type="submit">Send</button>
    </div>

</form>
