<header class="site-header">

    <style>

        .search-button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        .flex-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .flex-container-vert {
            display: flex;
            flex-direction: column;
        }

        .main-menu-item {
            margin-right: 25px;
        }

    </style>

    <div class="wrapper flex-container">

        <div>
            <a href="/">
                <img src="/assets/static/photo-round-small.png">
            </a>
        </div>

        <div class="flex-container-vert" style="margin-left: 15px; width: 80%">

            <div class="flex-container" style="justify-content: space-between">

                <div>
                    <div class="flex-container">
                        <p style="margin-bottom: 5px">
                            {{ site.title }}
                            <br>
                            <small>{{ site.description }}</small>
                        </p>
                    </div>
                </div>

                <div>
                    <form method="get" action="/search/">
                        <div class="flex-container">
                            <input name="q" placeholder="Поиск">
                            <button class="search-button" type="submit">&#x1f50d;</button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="main-menu flex-container">
                <a class="main-menu-item" href="/">Home</a>
                <a class="main-menu-item" href="/about/">About</a>
                <a class="main-menu-item" href="/bookshelf/">Bookshelf</a>
                <a class="main-menu-item" href="/tag/clojure/">Clojure</a>
                <a class="main-menu-item" href="/tag/emacs/">Emacs</a>
                <a class="main-menu-item" href="/tag/python">Python</a>
                <a class="main-menu-item" href="/feed.xml">RSS</a>
            </div>

        </div>
    </div>

</header>
